body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body > main {
	padding-left: 2em;
	padding-right: 2em;
}
img {
	height: 50vh;
}
table, td, th {  
	border: 1px solid;
}

table {
	border-collapse: collapse;
}
  
th, td {
	padding: 1em;
}
/* May look odd on smaller screens but shows nav bar */
embed {
	height: 90vh;
	width: 100vw;
}
