@use "variables";
@use "sass:color";

body {
  margin: 0;
  background: variables.$bg-dark;
  color: variables.$text-main;
  font-family: system-ui, sans-serif;
}

a {
  color: variables.$accent-red;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: color.scale(variables.$accent-red, $lightness: 10%);
  text-shadow: 0 0 10px color.scale(variables.$accent-red, $lightness: 10%);
}

article,
section {
  border-top: 1px solid variables.$separator;
  margin: 2.5rem 0;
}
