@use "variables";

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex: 1;

  @include variables.mobile {
    flex-direction: column;
  }
}

.content {
  flex: 1;
  max-width: variables.$bp-mobile;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;

  @include variables.mobile {
    padding: 1.5rem;
  }
}

img {
  max-width: variables.$bp-mobile;
}
